# Build and temporary directories
.task/
bin/
build/
dist/
target/
tmp/

# IntelliJ IDEA
.idea/
*.iml

# <DevEnv>
# https://devenv.sh/
.devenv*
.direnv
.pre-commit-config.yaml
devenv.local.nix
# </DevEnv>

# eof
